@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Plus Jakarta Sans" !important;
  font-size: 14px;
  background-color: #f7f7f8 !important;
  color: #212121;
}

/* Quill Fonts */
.ql-font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-font .ql-picker-item[data-value="arial"]::before {
  content: "Arial" !important;
  font-family: Arial, sans-serif;
}

.ql-font-sansserif {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.ql-font-serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.ql-font-monospace {
  font-family: monospace;
}
/* Customizing Mantine input fields style */
.mantine-TextInput-input {
  border-color: #d7d5dd !important;
  background-color: #f7f7f8 !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  font-size: 14px !important;
  height: 48px !important;
  font-family: "Plus Jakarta Sans" !important;
}

.mantine-TextInput-input:focus {
  background-color: white !important;
}

.mantine-TextInput-input:disabled {
  background-color: #eeeeee !important;
  border-color: #dedede !important;
}

.mantine-TextInput-input::placeholder {
  color: #212121 !important;
  opacity: 50% !important;
}

.mantine-TextInput-label {
  color: #212121 !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}

.mantine-MultiSelect-input {
  border-color: #d7d5dd !important;
  background-color: #f7f7f8 !important;
  border-radius: 12px !important;
  padding: 12px 16px !important;
  font-size: 14px !important;
  min-height: 48px !important;
  font-family: "Plus Jakarta Sans" !important;
}
.mantine-Pill-root {
  background-color: #dbdbdb !important;
  color: #212121 !important;
  font-size: 14px !important;
  font-family: "Plus Jakarta Sans" !important;
}

.mantine-MultiSelect-dropdown {
  border-radius: 12px !important;
  font-size: 14px !important;
  font-family: "Plus Jakarta Sans" !important;
}

.mantine-Textarea-label {
  color: #212121 !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}

.mantine-Textarea-input {
  border-color: #d7d5dd !important;
  background-color: #f7f7f8 !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  font-size: 14px !important;
  font-family: "Plus Jakarta Sans" !important;
}

.mantine-Textarea-input:focus {
  background-color: white !important;
}

.mantine-Textarea-input::placeholder {
  color: #212121 !important;
  opacity: 50% !important;
}

/* Text Editor - Video Share Modal */
#text-editor-mainContainer .ql-toolbar {
  border-radius: 8px 8px 0px 0px !important;
  display: flex;
  column-gap: 5px;
}

#text-editor-mainContainer .ql-toolbar .ql-formats {
  margin-right: 0px !important;
}
#text-editor-mainContainer .ql-toolbar .ql-formats:not(:last-child) {
  border-right: 2px solid rgba(100, 121, 143, 0.3) !important;
}

#text-editor-mainContainer #tag-button-wrapper {
  border-right: 2px solid rgba(100, 121, 143, 0.3) !important;
}

/* #text-editor-mainContainer
  .ql-toolbar
  #custom-buttons-wrapper
  .ql-formats:not(:last-child) {
  border-right: 2px solid rgba(100, 121, 143, 0.3) !important;
} */

#text-editor-mainContainer .ql-toolbar #custom-buttons-wrapper {
  display: inline-flex;
  column-gap: 5px;
}

.ql-picker-options {
  border-radius: 8px !important;
  max-height: 180px;
  overflow-y: auto;
}

.ql-picker-options::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px !important;
  background-color: #a5a5a532 !important;
}
.ql-picker-options::-webkit-scrollbar-thumb {
  background-color: #36363682;
  border-radius: 6px !important;
}

#text-editor-container {
  background-color: #f7f7f8 !important;
  border-radius: 0px 0px 8px 8px !important;
  max-height: 202px;
}

.contactsLinkedWithTagsModal::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px !important;
  background-color: #a5a5a52e !important;
}

.contactsLinkedWithTagsModal::-webkit-scrollbar-thumb {
  background-color: #21212195;
  border-radius: 5px !important;
}
#text-editor-container div.ql-editor::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px !important;
  background-color: #a5a5a52e !important;
}

#text-editor-container div.ql-editor::-webkit-scrollbar-thumb {
  background-color: #21212195;
  border-radius: 5px !important;
}
#smsContent-container::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px !important;
  background-color: #a5a5a52e !important;
}
#smsContent-container::-webkit-scrollbar-thumb {
  background-color: #21212195;
  border-radius: 6px !important;
}

/* Share Video Modal - Custom Scrollbar */
#share-modal-scrollableDiv::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px !important;
  background-color: #a5a5a5ba !important;
}
#share-modal-scrollableDiv::-webkit-scrollbar-thumb {
  background-color: #21212195;
  border-radius: 6px !important;
}

#custom-buttons-wrapper button {
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

#custom-buttons-wrapper button:hover {
  color: #2a85ff;
}
#tag-button-wrapper button {
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

#tag-button-wrapper button:hover {
  color: #2a85ff;
}

div#loom-sdk-record-overlay-shadow-root-id {
  display: block !important;
}

/* Customization of Loom SDK */
.em-lns-1gdtefy {
  background-color: #2a85ff !important;
}

.recorder-button-class {
  background-color: #2a85ff !important;
  color: white !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px 16px !important;
}

span .em-lns-1do042d {
  display: none !important;
}

.loadMoreContactsBtn:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}

#recordingNameModalInput-label {
  margin-bottom: 0px !important;
}

#historyTabSection::-webkit-scrollbar {
  width: 10px !important;
  border-radius: 5px !important;
  background-color: #a5a5a579 !important;
}
#historyTabSection::-webkit-scrollbar-thumb {
  background-color: #2a85ff;
  border-radius: 6px !important;
}

/* Select Conatcs Modal */
.searchContactsInput input {
  padding: 8px 12px !important;
  height: 40px !important;
}

.selectContactsDiv::-webkit-scrollbar {
  width: 3px !important;
  border-radius: 3px !important;
  background-color: white !important;
}
.selectContactsDiv::-webkit-scrollbar-thumb {
  background-color: #21212199;
  border-radius: 6px !important;
}

#shortCodeDropDown-content::-webkit-scrollbar {
  width: 3px !important;
  border-radius: 3px !important;
  background-color: white !important;
}
#shortCodeDropDown-content::-webkit-scrollbar-thumb {
  background-color: #21212199;
  border-radius: 6px !important;
}

#smsContent-container {
  border: none !important;
}

#smsContent-container:focus {
  background-color: transparent !important;
}
