@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Plus Jakarta Sans" !important;
  font-size: 14px;
  background-color: #f7f7f8 !important;
  color: #212121;
}
